@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  // min-height: 100vh;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 0.5), 0.5);
  }
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}
main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - #{$footer-height});

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeout();
      }
    }
  }
  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;

  .bio-image {
    grid-area: bioimage;
    border: solid 3px $secondary-color;
    border-radius: 50%;
    background: url("../img/portrait_small.jpg");
  }

  .bio {
    grid-area: bio;
  }

  .job1 {
    grid-area: job1;
  }

  .job2 {
    grid-area: job2;
  }

  .job3 {
    grid-area: job3;
  }

  .job {
    font-size: 0.8em;
    padding: 0.5rem;
    background: darken($primary-color, 5);
    border-bottom: solid 3px $secondary-color;

    h3 {
      font-weight: 600;
    }
  }
}

//WORK
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;
    border: 3px #fff solid;
    @include easeout;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
    }
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  height: $footer-height;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
}

@import "mobile";
